@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@iconify/tailwind4";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

.card {
    padding: 2em;
}

.ui.toast-container .toast-box {
    z-index:999999;
}

:root {
    --background: hsl(233, 36%, 91%);
    --foreground: hsl(233, 100%, 3%);

    --card: hsl(233, 59%, 94%);
    --card-foreground: hsl(233, 100%, 3%);

    --muted: hsl(231, 17%, 84%);
    --muted-foreground: hsl(236, 7%, 48%);

    --primary: hsl(235, 100%, 64%);
    --secondary: hsl(263, 100%, 66%);


    --link: hsl(235, 100%, 36%);
    --link-hover: hsl(229, 100%, 17%);

    --footer:  hsl(233, 59%, 94%);
    --footer-foreground: hsl(236, 7%, 48%);

    --border: hsl(236, 7%, 48%);

    --selection: hsl(238, 90%, 58%);

    --ring: hsl(233, 100%, 3%);

    --sidebar: hsl(233, 36%, 91%);

    --sidebar-foreground: hsl(233, 100%, 3%);

    --sidebar-destructive: hsl(233, 36%, 91%);
    --sidebar-destructive-foreground:hsl(351, 100%, 65%);

    --sidebar-accent: hsl(248, 100%, 3%);

    --accent: hsl(248, 100%, 3%);

    --sidebar-accent-foreground: hsl(0, 0%, 96%);

    --accent-foreground: hsl(0, 0%, 96%);

    --sidebar-border: hsl(236, 7%, 48%);

    --sidebar-ring: hsl(236, 7%, 48%);

    --popover: hsl(233, 59%, 94%);
    --popover-foreground: hsl(233, 100%, 3%);

    --destructive: hsl(351, 100%, 65%);
    --destructive-foreground: hsl(233, 100%, 97%);

    --warning: hsl(28, 100%, 50%);
    --warning-foreground: hsl(233, 36%, 9%);

    --success: hsl(121, 90%, 19%);
    --success-foreground: hsl(233, 100%, 97%);

    --shadow: hsl(233, 100%, 3%, 25%);

}

.dark {
    --background: hsl(233, 36%, 9%);
    --foreground: hsl(233, 100%, 97%);

    --card:	hsl(233, 59%, 6%);
    --card-foreground: hsl(233, 100%, 97%);

    --muted: hsl(231, 17%, 16%);
    --muted-foreground: hsl(236, 7%, 52%);

    --primary: hsl(235, 100%, 64%);
    --secondary: hsl(263, 100%, 66%);

    --link: hsl(235, 100%, 64%);
    --link-hover: hsl(229, 100%, 83%);

    --footer: hsl(233, 59%, 6%);
    --footer-foreground: hsl(236, 7%, 52%);

    --border: hsl(236, 7%, 52%);

    --selection: hsl(238, 90%, 42%);

    --ring: hsl(233, 100%, 97%);

    --sidebar: hsl(233, 36%, 9%);

    --sidebar-foreground: hsl(233, 100%, 97%);

    --sidebar-destructive: hsl(233, 36%, 9%);
    --sidebar-destructive-foreground: hsl(351, 100%, 35%);

    --sidebar-accent: hsl(248, 100%, 97%);

    --sidebar-accent-foreground: hsl(0, 0%, 4%);

    --sidebar-border: hsl(236, 7%, 52%);

    --sidebar-ring: hsl(236, 7%, 52%);

    --popover: hsl(233, 59%, 6%);
    --popover-foreground: hsl(233, 100%, 97%);

    --destructive: hsl(351, 100%, 35%);
    --destructive-foreground: hsl(233, 100%, 97%);

    --warning: hsl(28, 100%, 50%);
    --warning-foreground: hsl(233, 36%, 9%);

    --success: hsl(121, 90%, 81%);
    --success-foreground: hsl(233, 36%, 9%);

    --accent: hsl(248, 100%, 97%);
    --accent-foreground: hsl(0, 0%, 4%);

    --shadow: hsl(233, 100%, 3%, 100%);
}

@theme inline {
    --font-display: "Poppins", "serif";
    --font-paragraph: "Inter", "serif";
    --font-heading: "Lexend", "serif";

    --color-ultramarine-50: #f1f4ff;
    --color-ultramarine-100: #e6ebff;
    --color-ultramarine-200: #d0dbff;
    --color-ultramarine-300: #aabaff;
    --color-ultramarine-400: #7b8eff;
    --color-ultramarine-500: #4556ff;
    --color-ultramarine-600: #2028ff;
    --color-ultramarine-700: #0e15f3;
    --color-ultramarine-800: #0b11cc;
    --color-ultramarine-900: #0b0fa0;
    --color-ultramarine-950: #040c71;

    --color-kingfisher-daisy-50: #f6f2ff;
    --color-kingfisher-daisy-100: #eee8ff;
    --color-kingfisher-daisy-200: #dfd4ff;
    --color-kingfisher-daisy-300: #c8b1ff;
    --color-kingfisher-daisy-400: #ad85ff;
    --color-kingfisher-daisy-500: #9453ff;
    --color-kingfisher-daisy-600: #8730f7;
    --color-kingfisher-daisy-700: #791ee3;
    --color-kingfisher-daisy-800: #6519be;
    --color-kingfisher-daisy-900: #54169c;
    --color-kingfisher-daisy-950: #400e84;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --color-link: var(--link);
    --color-link-hover: var(--link-hover);

    --color-footer: var(--footer);
    --color-footer-foreground: var(--footer-foreground);

    --color-border: var(--border);

    --color-selection: var(--selection);

    --color-ring: var(--ring);

    --color-sidebar-ring: var(--sidebar-ring);

    --color-sidebar-border: var(--sidebar-border);

    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

    --color-sidebar-accent: var(--sidebar-accent);

    --color-sidebar-foreground: var(--sidebar-foreground);

    --color-sidebar: var(--sidebar);

    --color-sidebar-destructive: var(--sidebar-destructive);
    --color-sidebar-destructive-foreground: var(--sidebar-destructive-foreground);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-shadow: var(--shadow);

}

@layer base {
    * {
        @apply border-border selection:bg-selection;
    }
    body {
        /*@apply font-paragraph;*/
        @apply antialiased  bg-background text-foreground scroll-smooth;
    }

    ::-webkit-scrollbar {
        @apply w-2 h-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-muted;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-muted-foreground;
    }
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}